<div class="container" style="margin-top: 2rem;">
  
  <h4> Post </h4>
  <div class="container">
    <small id="subtitle" class="form-text text-muted"><%=@post.author%> at <%= @post.updated_at.localtime.strftime('%b %d, %Y %I:%M %p')%></small>
    <div class="shadow p-3 mb-5 bg-white rounded" style="margin-bottom: 1rem !important">
      <p class="lead"><%= @post.body %></p>
      <small id="subtitle" class="form-text text-muted">
        <%= link_to "Edit", edit_post_path(@post) %> &nbsp;
        <%= link_to "Delete", post_path(@post), data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    } %>
      </small>
    </div>
  </div>
  
  <h4>Comments</h4>
  <%= render @post.comments%>
  <%= render "comments/form", post: @post %>
</div>
